@charset "UTF-8";

:root{
    --Verde : #49a09d;
    --Lilás : #5f2c82;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}

body , html{
   background-color: var(--Lilás);
   height: 100vh;
   width: 100vw;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
}
div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/imagem2.jpg) no-repeat
    top center;
    background-size: cover;
    height: 39%;
    
    
}

section#login{
   
  background-color: white;
  width: 250px;
  height: 500px ;
  border-radius: 20px;
  padding: 0px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

  transition: width 1s, height 1s;
  transition-timing-function: ease;
}
div#formulario{
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > P{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;

}
div.campo > span{
    color: white;
    background-color: black;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
    div.campo  > input{
    background-color: #79eee8;
    font-size: 1em;
    height: 100%;
    width: calc(100% -50px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-11px);
}

div.campo > input:focus-within{
    background-color: white;
}

form input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
form input[type=submit]:hover{
    background-color: #428380;
}
#Esqueci{
    display: inline-block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-bottom: 10px;
    margin-top: 5px;
    background-color: white;
    color: #49a09d;
    border-radius: 10px;

}
#Esqueci:hover{
    background-color: #79eee8;
}
