@charset "UTF-8";

:root{
    --Verde : #49a09d;
    --Lilás : #5f2c82;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}

body , html{
   background-color: var(--Lilás);
   height: 100vh;
   width: 100vw;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
}
div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/imagem2.jpg) no-repeat
    top center;
    background-size: cover;
    height: 50%;
    
    
}

section#login{
   
  background-color: white;
  width: 250px;
  height: 500px ;
  border-radius: 20px;
  padding: 0px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

  transition: width 1s, height 1s;
  transition-timing-function: ease;
}
div#formulario{
    display: block;
    padding: 10px;
}