@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px){
   
   body{
    background-image: linear-gradient(to top , #49a09d, #5f2c82);
   }
    section#login{
        width: 80vw;
        height: 300px;
    }
    div#imagem{
        float: right;
        width: 30%;
        height: 100%;
    }
    div#formulario{
        float: left;
        width: 70%;
    }
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > P{
        font-size: 1em;
    }
   div.campo  > input{
        background-color: #79eee8;
        font-size: 1em;
        height: 85%;
        width: 91%;
        transform: translateY(-11px);
        border: 0px;
        border-radius: 8px;
        padding: 4px;
    } 
}

@media screen and (min-width:992px){
    
    body{
        background-image: linear-gradient(to top , #49a09d, #5f2c82);
       }
    section#login{
        width: 990px;
        height: 350px;

    }
    div#imagem{
        float: right;
        width:50%;
        height: 100%;
    }
    div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > P{
        font-size: 1.2em;
    }
    div.campo  > input{
        background-color: #79eee8;
        font-size: 1em;
        height: 85%;
        width: 90%;
        transform: translateY(-9px);
        border: 0px;
        border-radius: 8px;
        padding: 4px;
        
    } 
} 